/* here we style the body background */
body {
    background-image: linear-gradient(to right, rgb(111, 31, 126) , rgb(247, 83, 167));
}
/* here we are styling the heading of the favorite page */
.heading{
    text-align: center;
    color : white;
	-webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
}
/* this is the styling for for text below the heading  */
.para{
    text-align: center;
    font-weight: bold;
}
/* styling for search results here  */
.S_results{
    padding-bottom :5%;
}
/* Home button styling */
.footBG{
    background-image: linear-gradient(to right, rgb(71, 84, 201) , rgb(67, 240, 211));
    border-color: rgb(39, 45, 142);
    border-radius: 20px;
    margin-left : 2%;
}
/* favorite button Styling */
.favbtn{
    background-image: linear-gradient(to right, rgb(208, 45, 173) , rgb(67, 240, 211));
    border-color: rgb(39, 45, 142);
    border-radius: 20px;
    margin-left : 2%;
}
